body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: black;
  color: white;
}
form {
  margin-bottom: 20px;
}
img {
  border: 1px solid #ccc;
  padding: 10px;
}
.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
